.huie{
background-image: url('../img/189.jpg');
}
.btn-active{
    box-shadow: 0px 8px 2px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 8px 2px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 8px 2px -2px rgba(0,0,0,0.75);
}

.btn-active:active{
    transform: translateY(2px);
}